#shows {
    margin-top: 7px;
    padding: 15px;
    width: 100%;
    height: 87vh;
    overflow: auto;
    border: 1px solid #ccc;
}

#links {
    margin-top: 0%;
}

.social-media {
    color: white;
}

.show {
    cursor: pointer;
}

nav ul li:hover {
    color: orange;
}

nav a:hover {
    color: orange;
}

#locationIMG,
#venueIMG {
    margin-left: 5px;
    margin-top: 50%;
}

#artistIMG,
#links {
    margin-left: 5px;
}

.social-media{
    color: black;
    font-weight: bold;
}

.social-media-container{
    margin-top: 5px;
}

#artistIMG{
    margin-top: 30%;
}