#navBar{
    height: 70px;
}
/* #arrowImg{
    text-align: center;
    height: 50px;
    width: 50px;
} */

.parallax {
    position: static;

}

nav ul a,
nav .brand-logo {
    color: white;
}

p {
    line-height: 2rem;
}

.sidenav-trigger {
    color: white;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
    width: 100%;
}

.parallax-container .section {
    width: 100%;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

#buttonsSections {
    margin-bottom: 0px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.dropdown-content {
    max-height: 350px !important;
    overflow-y: auto !important;
    backface-visibility: hidden !important;
    /* top: -350px; */
 }

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        background-color: brown;
        
    }

   
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width : 600px) {
    .parallax-container .section {
        position: absolute;
        background-color: aqua;

    }
}

.dropdown-trigger{
    color: lightgrey;
}
