#navBar {
    height: 70px;
}

.parallax {
    position: static;
}

nav ul a,
nav .brand-logo {
    color: white;
}

p {
    line-height: 2rem;
}

.sidenav-trigger {
    color: white;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
    width: 100%;
}

.parallax-container .section {
    width: 100%;
}

footer.page-footer {
    margin: 0;
}

#buttonsSections {
    margin-bottom: 0px;
}

.dropdown-content {
    max-height: 350px !important;
    overflow-y: auto !important;
    backface-visibility: hidden !important;
}

.dropdown-trigger {
    color: lightgrey;
}

.dropdown-content li>a,
.dropdown-content li>span {
    color: orange !important;
}

/* label focus color */
.input-field input[type=text]:focus+label,
.materialize-textarea:focus:not([readonly])+label {
    color: orange !important;
}

/* label underline focus color */
.input-field input[type=text]:focus,
.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid orange !important;
    box-shadow: 0 1px 0 0 orange !important;
}

nav ul li:hover {
    color: orange;
}

nav a:hover {
    color: orange;
}

#artist-search:hover {
    color: black;
}

#venue-search {
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    border: 1px solid black;
}

#venue-search:hover {
    color: black;
}

#artistBtn,
#venueBtn,
#locationBtn,
#getLoc,
#location-search,
#venue-search,
#artist-search {
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    border: 1px solid black;
}

#artistBtn:hover {
    color: black;
}

#venueBtn:hover {
    color: black;
}

#locationBtn:hover {
    color: black;
}

#getLoc:hover {
    color: black;
}

#location-search:hover {
    color: black;
}

#venue-search:hover {
    color: black;
}

#artist-search:hover {
    color: black;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        background-color: brown;

    }


}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width : 600px) {
    .parallax-container .section {
        position: absolute;
        background-color: aqua;

    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}